<h1>Welcome to the message board!</h1>

<ul>
  {{#each messages}}
  <li>{{this.authorName}} says {{this.content}}</li>
  {{/each}}
</ul>

{{#if user}}
<form action="/message" method="POST">
  <input type="text" placeholder="message" name="message" />
  <button type="submit">send</button>
</form>
{{else}}
<a href='/register'>register</a> <a href='/login'>login</a>
{{/if}}