<h1>Welcome to the message board!</h1>

<ul>
  {{#each messages}}
  <li>{{this.content}}</li>
  {{/each}}
</ul>

<a href='/register'>register</a> <a href='/login'>login</a>
<form action="/message" method="POST">
  <input type="text" placeholder="message" name="message" />
  <button type="submit">send</button>
</form>